/*Reset de la pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* version mvil 320 */
body {
  background-color: #451D2E;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

header {
  background-color: #451D2E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0;
  box-shadow: 4px 2px 8px rgb(228, 8, 159);
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
}
header .logo {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  width: 45px;
  justify-content: space-between;
}
header .logo-selflog {
  width: 45px;
  border-radius: 50%;
  margin-left: 5px;
  box-shadow: 2px 2px 3px black;
}
header h1 {
  border-radius: 5px;
  box-shadow: 1px 3px 2px black;
  display: none;
  transition: 2s;
}
header h1 a {
  text-decoration: none;
  color: white;
}
header .buscador {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
}
header .buscador .menu-hamburguesa {
  padding: 5px;
  transition: 2s;
}
header .buscador input {
  width: 70%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px black;
  display: none;
}
header a {
  text-decoration: none;
  color: white;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px 3px black;
}
header nav {
  display: flex;
  list-style: none;
  margin: 25px;
  margin-left: 0;
  align-content: center;
  display: none;
}
header nav ul li {
  margin: 15px;
  width: 100%;
  padding-left: 0;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px 3px black;
}

.border-btn {
  margin-top: 2px;
  border: 1px solid gray;
  box-shadow: 3px 6px 4px rgb(202, 183, 183);
}

.card {
  border: 1px solid rgb(151, 46, 114);
  border-radius: 8px;
  overflow: hidden;
}
.card .card-contenido {
  padding: 14px;
  text-align: center;
}

.card-container img {
  width: 100%;
  height: auto;
  display: block;
}
.card-container ul {
  display: grid;
  grid-template-columns: repeat(auto-fil(minmax(200px)), 1fr);
  padding-left: 0;
  margin-top: 10px;
  gap: 20px;
  list-style: none;
}

.secction-footer-container img {
  width: 20px;
}
.secction-footer-container .container-redes-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 5px;
}
.secction-footer-container .container-redes-form ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}
.secction-footer-container .container-redes-form ul li {
  margin-top: 35px;
}
.secction-footer-container .container-redes-form ul li img {
  border-radius: 50%;
  box-shadow: 3px 2px 4px black;
}
.secction-footer-container .container-form {
  grid-column: 4/5;
  grid-row: 2/3;
}
.secction-footer-container .container-form .formulario {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
.secction-footer-container .container-form .formulario input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.secction-footer-container .container-form .suscribite {
  width: 200px;
  background-color: white;
  color: gray;
}
.secction-footer-container .logo-selfLoG {
  display: grid;
  justify-items: end;
  grid-column: 1/end;
  border-top: 4px solid black;
}
.secction-footer-container .logo-selfLoG img {
  border-radius: 4%;
  width: 100%;
  height: 50%;
  margin-top: 5px;
  box-shadow: 4px 4px 3px black;
}

.container-copyryght {
  color: white;
  border-top: 2px solid black;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 105%;
  font-size: x-small;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
