*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* version mvil 320 */

body{
    background-color: #451D2E;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #451D2E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0;
    box-shadow: 4px 2px 8px rgb(228, 8, 159);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    
    z-index: 1000;
    


}


/* header .buscador .menu-hamburguesa{
    display: none;
} */

header nav ul{
    display: flex;
    list-style: none;
    margin: 25px;
    /* flex-direction: column; */
    margin-left: 0;
    align-content: center;
    
    display: none;
        
/*         
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px); */
    
}

header nav ul li{
    margin: 15px;
    width: 100%;
    padding-left: 0;
}

header nav ul li a{
    text-decoration: none;
    
    color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px 3px black;

}
header .logo{
    display: flex;
    align-items: center;
    margin-left:0.5em;
    width: 45px;
    justify-content: space-between;
    
}
header div .logo-selflog{
    width: 45px;
    border-radius: 50%;
    margin-left: 5px;
    box-shadow: 2px 2px 3px black;
    
}

header div h1 {
    border-radius: 5px;
    box-shadow: 1px 3px 2px black;
    display: none;
    transition: 2s;
   
    
    
}
.inicio-logo a{
    text-decoration: none;
    color: white;
}





.buscador{
    display: flex;
     flex-direction: row-reverse; 
    
    
    width: 70%;
    

    
}

header .buscador .menu-hamburguesa{
    padding: 5px;
   
    
    
    
    transition: 2s;
}

.buscador input{
    width: 70%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
   display:none; 
   
}

a:hover{
    text-decoration:underline;
    color: gray;
}
.border-btn{
    margin-top: 2px;
    border: 1px solid gray;
    box-shadow: 3px 6px 4px rgb(202, 183, 183);
}


section .card-container img{
    width: 100%;
    height: auto;
    display: block;
    }
.card-container ul{
    
    display: grid;
    grid-template-columns: repeat(auto-fil(minmax(200px)), 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    padding: 0;
    margin-top: 10px;
    gap: 20px;
    list-style: none;
 
    

}

.card{
    border: 1px solid rgb(151, 46, 114);
    border-radius: 8px;
    overflow: hidden;
    

}

.card-contenido{
    padding: 16px;
    text-align: center;
}

/* Aqui se da estilo al footer */
section div ul li a img{
    width: 20px;
}
.container-redes-form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    
    grid-gap: 5px;
    
    
}

.container-redes-form ul{
   
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    
    /* grid-column: 1/4;
    grid-row: 2/3; */
   
    padding-left: 0;
    /* margin-left: 15px; */
    
    

    list-style: none;
    
    justify-content: center;
    
    
    

    
    
}
.container-redes-form ul li{
    margin-top: 35px;
    
    }
.container-redes-formul li img{
    border-radius: 50%;
    box-shadow: 3px 2px 4px black;
}


.formulario{
    font-family: Arial, Helvetica, sans-serif;
    color:  white;
    text-align: center;
    
}
.suscribite{
    width: 200px;
    background-color: white;
    color: gray;
}
.formulario input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    
}
.container-redes-form .container-form {
    
    grid-column: 4/5;
    grid-row: 2/3;
    /* box-shadow: 4px 4px 3px black; */
    
    
   
}
.logo-selfLoG{
    display: grid;

    justify-items: end;
    grid-column: 1/end;
    
    border-top: 4px solid black;
    
   
}
.logo-selfLoG img{
    border-radius:4%;

    width: 100%;
    height: 50%;
    margin-top: 5px;
    box-shadow: 4px 4px 3px black;
}
.container-copyryght{
    color: white;
    border-top: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 105%;
    font-size:x-small;
    text-align: center;
    
}
.container-copyryght p{
    margin-top: 6px;
}

/* .carousel-ite1m{
    height: 350px; 
} */


/* aqui se da estilo a pagina de favoritos */

.favoritos-perfil{
    color: white;
    margin-top: 65px;
    padding-bottom: 0.2px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px 5px;
    box-shadow: 0px 2px 3px black;
}


 /*aqui se da estilo a la pagina del perfil de usuario  */

 main section  .contenedor-datos-user{
    margin-top: 55px;
    margin-left: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 100px);
    
    
    
    
    
 }
 .contenedor-perfil{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    
    
    justify-items: center;
    align-items: center;
    

 }
 .contenedor-datos-user div .perfil{
    
    
    width: 85px;
    height: 90px;
    border-radius: 8px;
    box-shadow: 1px 2px 2px 2px black;
    
    

 }

 .contenedor-datos-user .contenedor-descripcion{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
    text-shadow: 1x 2px 4px 2px black;
    
    margin-top: 8px;
 }
 .name-perfil{
    text-align: start;
    margin: 2px;
    margin-left: 32px;
 }

 main section .contenedor-datos-user .contenedor-contador{
  grid-column: 2/4;
  grid-row: 1/2;
    
 }
 .star-self{
    width: 10px;
 }
 .items-contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1px;
    

    
 }
 .contenedor-items{
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    
    
 }
 .contenedor-items h5,p{
    font-size: 12px;
    text-align: center;
    
    
 }
 .contenedor-items p{
    border-radius: 5px;
    
    
 }

 .contenedor-items p:hover, h5:hover{
    
    box-shadow: 2px 1px 4px 2px #dacecc;
 }
 .mejores-fotos-user{
    
    grid-column: 1/3;
    grid-row: 3/4;
    
    
 }
.mejores-fotos-user img{
    width: 70px;
    border-radius: 15px;
    box-shadow: 1px 2px 2px 2px black;
}
.mejores-fotos-user{
    
    display: flex;
    justify-content: space-around;
}

.gallery{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 18px;
    text-align: center;
    font-size: x-large;
    border-top: 1px solid black;
}
.gallery h4{
    margin: 5px;
}

.gallery img{
    width: 100px;
}
video{
    width: 300px;
    margin-left: 10px;
}

/* pagina contactos */


.contacto-container{
    display: grid;
    grid-template-columns: repeat(2 11fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-top: 60px;
    margin-left: 15px;
    align-items: center;
   color: white;

}

.container-formulario-de-contacto{
    grid-column: 1/2;
    grid-row: 1/2;
    
    background-color: #81455e;  
    
}
.bottom-form, .naame, textarea, .email-{
    
    width: 100%;
    border-radius: 5px;
}
.contenedor-redes{
    
    grid-column: 1/2;
    grid-row: 2/2;
    background-color: #81455e;  
    border-radius: 5px;
}
.redes{
    
    display: flex;
    justify-content: space-around;
    list-style: none;
}


/* version movil hasta 600px */

@media only screen and (min-width: 600px){
    header{
        height: 80px;
        padding: 0;
        
        
        
    }
  
   

    



   
    /* header nav ul{
        flex-direction: column;
        margin-left: 0;
        align-content: center;
        background-color: red;
        
        
        position: fixed;
        top: 25px;
        left: 1;
        width: 100%;
        height: calc(100% - 50px);
    } */

    /* header nav ul li{
        align-items: center;
        margin: 15px;
        width: 100%;
        padding-left: 0;

    } */
   

    /* header .logo h1{
        display: block;
        margin-left: 25px;
        
        
    } */
    
    header .logo img{
        width: 50px;
    }

    

    .carousel-item{
        height: 360px; 
    }
    /* }
    header div input{
        display: block;
    } */

    .border-btn{
        
        border: 1px solid gray;
        box-shadow: 3px 2px 4px rgb(6, 219, 219);
    }
   
    
    section .card-container img{
        width: 100%;
        height: auto;
        display: block;
        }
    .card-container ul{
        
        display: grid;
        grid-template-columns: repeat((auto-fil(minmax 200px)), 1fr);
        
        
        
        padding: 0;
        margin-top: 10px;
        gap: 20px;
        list-style: none;
     
        
    
    }
    
    .card-container ul li{
        border: 1px solid rgb(151, 46, 114);
        border-radius: 8px;
        
        width: 90%;
        margin: 30px;
        overflow: hidden;
        
    
    }
    
    .card-contenido{
        padding: 16px;
        text-align: center;
    }

    /* Aqui se da estilo al footer */
.container-redes-form{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    
   
    
    
}

.container-redes-form ul{

   width: 400px;

    display: flex;
    /* flex-direction:start; */
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 90px;
    justify-content: space-around;
    /* grid-column: 1/4;
    grid-row: 2/3; */
   
    padding-left: 0;
    margin-left: 0px;
    /* margin-left: 15px; */
    
    

    list-style: none;
    
    
    
    

    
    
}
.container-redes-form ul li{
    margin: 5px;
    
}





.logo-selfLoG{
    

    
    
    justify-items: center;

}
.logo-selfLoG img{
    

    width: 550px;
    height: 200px;
    margin-top: 5px;
    
}
.container-copyryght{
    color: white;
    border-top: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 105%;
    font-size:x-small;
    text-align: center;
    
}
.container-copyryght p{
    margin-top: 6px;
}

/* version 600px para favoritos */
.favoritos-perfil{
   
    margin-top: 90px;
  
}
 /*aqui se da estilo a la pagina del perfil de usuario  */

 main section  .contenedor-datos-user{
    margin-top: 85px;
    

    
    
    
    
    
 }

 .contenedor-datos-user div .perfil{
    
    
    width: 120px;
    height: 100px;
    margin-top: 10px;
    margin-left: -100px;
   
    
    

 }

 .contenedor-datos-user .contenedor-descripcion{
   
    
    margin-top: 15px;
    margin-left: 4px;
    
}

 



 .items-contador{

    
    margin-right: 45px;
    

    
 }





.gallery{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
    border-top: 1px solid black;
    
    width: 100%;
    
}
.gallery h4{
    margin: 15px;
    
    
    
}

.gallery img{
    width: 100px;
}
video{
    width: 300px;
    margin-left: 10px;
    
    
}
.video{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.video-perfil{
    width: 95%;
    margin-left: 25px;
    margin-bottom: 25px;
}
/* pagina contactos */


.contacto-container{
    display: grid;
    grid-template-columns: repeat(2 11fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-top: 95px;
    margin-left: 8px;
    align-items: center;
   color: white;

}


}

/* versio min 768 para dispositivos */
@media only screen and (min-width: 768px){
   
    header nav ul{
        display: flex;
        
        
    }
    header .buscador .menu-hamburguesa{
        display: none;
      }

      /* editamos el perfil-page para version de 768px */

      main section  .contenedor-datos-user{
        margin-top: 85px;
        
    
        
        
        
        
        
     }
    
     .contenedor-datos-user div .perfil{
        
        
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: -150px;
      
        
        
    
     }
    
     .contenedor-datos-user .contenedor-descripcion{
       
        
        margin-top: 120px;
        margin-left: 0px;
    }
     
    
    
    
     .items-contador{
    
        
        margin-right: 45px;
        
        
        
    
        
     }

     .mejores-fotos-user{
        margin-top: 80px;
        
       
        /* display: flex;
        justify-content: space-around; */
    }
    
    
    
    
    
    
    .gallery{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin-top: 80px;
        text-align: center;
        font-size: x-large;
        border-top: 1px solid black;
        
        width: 100%;
        
    }
    .gallery h4{
        margin: 15px;
        
        
        
    }
    
    .gallery img{
        width: 100px;
    }
    video{
        width: 300px;
        margin-left: 10px;
        
        
    }
    .video{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .video-perfil{
        width: 95%;
        margin-left: 25px;
        margin-bottom: 25px;
    }

    /* pagina contactos */


.contacto-container{
    display: grid;
    grid-template-columns: repeat(2 11fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-top: 100px;
    margin-left: 2px;
    
    align-items: center;
   color: white;

}

.container-formulario-de-contacto{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 300px;
    
    background-color: #81455e;  
    
}
.bottom-form, .naame, textarea, .email-{
    
    width: 100%;
    border-radius: 5px;
    height: 80px;
}

    
   
}

    
    
   
    
 
    



    /* version de 1023px a 1024px */
@media only screen and (min-width:1023px){
    header .logo h1{
        display: flex;
        margin-left: 160px;
    }
    section .card-container{
        width: 100%;
        justify-content: space-between;
    }

    .card-container ul{
        display: grid;
        grid-template-columns: repeat(3,300px);
        justify-content: center;
        
        
        
        
    }

    main section  .contenedor-datos-user{
        margin-top: 85px;
        
    
        
        
        
        
        
     }
    
     .contenedor-datos-user div .perfil{
        
        
        width: 200px;
        height: 200px;
        margin-top: 10px;
        margin-left: -150px;
      
        
        
    
     }

     .contenedor-descripcion{
        text-align: center;
        
        margin: 2rem;
     }
    
     .contenedor-items{
      
       display: grid;
       grid-template-columns: repeat(3. 1fr);
       grid-template-rows: repeat(3,100px);
       font-size: 1px;        
       
        margin-top: 50px;
        
    }
     
    
    
    
     .items-contador{
        
        margin-right: 45px;
        
        
        
        
    
        
     }
     .items-contador h5{
        color: white;
       
        font-size: 40px;
     }
     .p1{
        grid-column: 1/2;
        grid-row: 1/2;
        font-weight: bolder;
        color: white
     }
     .p2{
        grid-column: 2/3;
        grid-row: 1/2;
        font-weight: bolder;
        color: white
     }
     .p3{
        grid-column: 3/4;
        grid-row: 1/2;
        font-weight: bolder;
        color: white
     }


     .mejores-fotos-user{
        margin-top: 80px;
        
       
        /* display: flex;
        justify-content: space-around; */
    }
    
    
    
    
    
    
    .gallery{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        margin-top: 80px;
        text-align: center;
        font-size: x-large;
        border-top: 1px solid black;
        
        width: 100%;
        
    }
    .gallery h4{
        margin: 15px;
        
        
        
    }
    
    .gallery img{
        width: 100px;
    }
    video{
        width: 300px;
        margin-left: 10px;
        
        
    }
    .video{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .video-perfil{
        width: 95%;
        margin-left: 25px;
        margin-bottom: 25px;
    }
    
   
     
        
    
}

/* version tablet 1024px */
@media only screen and (min-width: 1024px){
    
    header .logo h1{
        margin-left: 25px;
    }

}
/* version despstok y portatil > 1200px */
@media only screen and (min-width: 1200px){
    header .buscador input{
        display: flex;
    }
    .card-container ul{
        display: grid;
        grid-template-columns: repeat(4,300px);
        justify-content: center;
        
        
        
        
    }
    
}

@media only screen and (min-width: 1440px){
   
    .container-form .formulario{
        display: flex;
        /* flex-direction: column; */
        align-items:center;
        margin-top: 35px;
        
        
    }
}