*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* version mvil 320 */

body{
    background-color: #451D2E;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #451D2E;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0;
    box-shadow: 4px 2px 8px rgb(228, 8, 159);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    
    z-index: 1000;
    


}


/* header .buscador .menu-hamburguesa{
    display: none;
} */

header nav ul{
    display: flex;
    list-style: none;
    margin: 25px;
    /* flex-direction: column; */
    margin-left: 0;
    align-content: center;
    
    display: none;
        
/*         
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px); */
    
}

header nav ul li{
    margin: 15px;
    width: 100%;
    padding-left: 0;
}

header nav ul li a{
    text-decoration: none;
    
    color: white;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 4px 3px black;

}
header .logo{
    display: flex;
    align-items: center;
    margin-left:0.5em;
    width: 45px;
    justify-content: space-between;
    
}
header div .logo-selflog{
    width: 45px;
    border-radius: 50%;
    margin-left: 5px;
    box-shadow: 2px 2px 3px black;
    
}

header div h1{
    border-radius: 5px;
    box-shadow: 1px 3px 2px black;
    display: none;
    transition: 2s;
    
    
}



.buscador{
    display: flex;
     flex-direction: row-reverse; 
    
    
    width: 70%;
    

    
}

header .buscador .menu-hamburguesa{
    padding: 5px;
   
    
    
    
    transition: 2s;
}

.buscador input{
    width: 70%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
   display:none; 
   
}

a:hover{
    text-decoration:underline;
    color: gray;
}
.border-btn{
    margin-top: 2px;
    border: 1px solid gray;
    box-shadow: 3px 6px 4px rgb(202, 183, 183);
}


section .card-container img{
    width: 100%;
    height: auto;
    display: block;
    }
.card-container ul{
    
    display: grid;
    grid-template-columns: repeat(auto-fil(minmax(200px)), 1fr);
    /* grid-template-rows: repeat(12, 1fr); */
    padding: 0;
    margin-top: 10px;
    gap: 20px;
    list-style: none;
 
    

}

.card{
    border: 1px solid rgb(151, 46, 114);
    border-radius: 8px;
    overflow: hidden;
    

}

.card-contenido{
    padding: 16px;
    text-align: center;
}




/* .carousel-item{
    height: 350px; 
} */





/* version movil hasta 600px */

@media only screen and (min-width: 600px){
    header{
        height: 80px;
        padding: 0;
        
        
        
    }
  
   

    



   
    /* header nav ul{
        flex-direction: column;
        margin-left: 0;
        align-content: center;
        background-color: red;
        
        
        position: fixed;
        top: 25px;
        left: 1;
        width: 100%;
        height: calc(100% - 50px);
    } */

    /* header nav ul li{
        align-items: center;
        margin: 15px;
        width: 100%;
        padding-left: 0;

    } */
   

    /* header .logo h1{
        display: block;
        margin-left: 25px;
        
        
    } */
    
    header .logo img{
        width: 50px;
    }

    

    .carousel-item{
        height: 360px; 
    }
    /* }
    header div input{
        display: block;
    } */

    .border-btn{
        
        border: 1px solid gray;
        box-shadow: 3px 2px 4px rgb(6, 219, 219);
    }
   
    
    section .card-container img{
        width: 100%;
        height: auto;
        display: block;
        }
    .card-container ul{
        
        display: grid;
        grid-template-columns: repeat((auto-fil(minmax 200px)), 1fr);
        
        
        
        padding: 0;
        margin-top: 10px;
        gap: 20px;
        list-style: none;
     
        
    
    }
    
    .card-container ul li{
        border: 1px solid rgb(151, 46, 114);
        border-radius: 8px;
        
        width: 90%;
        margin: 30px;
        overflow: hidden;
        
    
    }
    
    .card-contenido{
        padding: 16px;
        text-align: center;
    }
    
    
    
    
   
    
 
    
} 
/* version tablet 768px a 1023px */
@media only screen and (min-width: 768px){
   
    header nav ul{
        display: flex;
        
        
    }
    header .buscador .menu-hamburguesa{
        display: none;
      }
}

    /* version de 1023px a 1024px */
@media only screen and (min-width:1023px){
    header .logo h1{
        display: flex;
        margin-left: 160px;
    }
    section .card-container{
        width: 100%;
        justify-content: space-between;
    }

    .card-container ul{
        display: grid;
        grid-template-columns: repeat(3,300px);
        justify-content: center;
        
        
        
        
    }
    
   
     
        
    
}

/* version tablet 1024px */
@media only screen and (min-width: 1024px){
    
    header .logo h1{
        margin-left: 25px;
    }

}
/* version despstok y portatil > 1200px */
@media only screen and (min-width: 1200px){
    header .buscador input{
        display: flex;
    }
    .card-container ul{
        display: grid;
        grid-template-columns: repeat(4,300px);
        justify-content: center;
        
        
        
        
    }
    
}