.gallery{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 18px;
    text-align: center;
    font-size: x-large;
    border-top: 1px solid $colorBlack;
    h4{
        margin: 5px;
    }
    img{
        width: 100px;
    }
    video{
        width: 300px;
        margin-left: 10px;
    }
}