/*Reset de la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* version mvil 320 */

body{
    background-color: #451D2E;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    text-decoration:underline;
    color: gray;
}